*{
    margin: 0px;
    padding: 0px;
}
.topText{
    width: 1440px;
}
.topText h1{
    font-family: 'Anonymous Pro', monospace;
    font-size: 72.13px;
    text-align: center;
}
.topText p{
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 32px;
    margin: 47px 0px 50px 166px;
}
.main{
    width: 1440px;
}
.main ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style-type:none ;
}
.main li{
    width: 474px;
    height: 321px;
    border: 4px solid black;
}
.main li:nth-child(-n+3){
    border-bottom: none;
}
.main li:nth-child(3n+2){
    border-left: none;
    border-right: none;
}
.main li{
    display: flex;
    flex-wrap: wrap;
}
.textDifficult{
    width: 50%;
    height: 28px;
    /* margin-bottom:-28px ; */
    padding: 16px 0px 0px 28px;
    font-family: 'Graphik';
    font-weight: 600;
}
.inputCheck{
    width: 83px;
    height: 83px;
    background-color: #FED230;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px / 50px;
    margin: 10px 0px 0px 120px;
}
.textLanguage{
    width: 100%;
    height: 28px;
    margin: -60px 0px 0px 28px;
    font-family: 'Graphik'; 
    
}
.main li p a{
    color: black;
}


li h2{
    width: 100%;
    height: 36px;
    font-family: 'Anonymous Pro', monospace;
    margin: -48px 0px 0px 28px;
}
.textSide{
    font-family: 'Graphik'; 
    font-size: 18px;
    width: 100px;
    margin: 40px 0px 0px 28px;
}
.btn{
    width: 50%;
    height: 70px;
    margin-left: 50px;
    text-align: right;
}
.btn input{
    width: 160px;
    height: 60px;
    border: 3px solid black;
    border-radius: 60px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 32px;
    font-weight: 700;
    transition: 1s;
    background-color: white;
}
.btn input:hover{
    transition: 1s;
    background-color: yellow;
    border: 3px solid blue;
    color: blue;
}


@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Graphik';
    src: url("Graphik-Medium-Web.eot");
    src: url("Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
      url("Graphik-Medium-Web.woff2") format("woff2"),
      url("Graphik-Medium-Web.woff") format("woff"),
      url("Graphik-Medium-Web.ttf") format("truetype");
  }


